#scanner {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9998; /* Justo debajo del modal */
}

app-barcode-scanner {
    background-color: rgba(60, 60, 64, 0.9);
    width: 700px;
    height: 550px;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#close {
    background-color: #686868;
    border-radius: 5px;
    padding: 10px 20px; 
    margin-top: 10px;  
    cursor: pointer;  
    transition: background-color 0.3s ease;
}

#close:hover {
    background-color: #1d2124;
    color: wheat;
}

#checkCont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5); 
}

#checkCont > dotlottie-player {
    background-color: rgba(60, 60, 64, 0.9);
    width: 700px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
