.double-chart {
  display: flex;
  width: 100%;
  min-height: 100px;
  max-height: 900px;
  border-radius: 15px;
  background-color: rgba(60, 60, 64, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 0.1px solid rgba(146, 146, 147, 0.5);
}

@media (max-width: 1000px) {
  .double-chart {
    flex-direction: column;
    align-items: center;
  }
}

.graphics {
  width: 100%;
  display: block;
  padding: 20px;
}

.alertNoDataProductsContainer {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.1px solid rgba(146, 146, 147, 0.2);
  border-radius: 20px;
  max-width: 800px;
  margin: 30px auto; 
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  .alertNoDataProductsContainer {
    margin-left: 30px;
    margin-right: 30px;
  }
}


.alertNoDataProductsH5 {
  padding: 12px;
  margin: 0 auto;
}


h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}


h1 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.warehouseP {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.1px solid rgba(146, 146, 147, 0.2);
  border-radius: 20px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 0.8em;
}

#userWarehouses {
  display: flex;
  align-items: center; 
  background-color: rgba(0, 0, 0, 0.1);
  border: 0.1px solid rgba(181, 181, 182, 0.2);
  border-radius: 20px;
  width: auto;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 10px;
}

#userWarehouses:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#selectWarehouseForm {
  margin-bottom: 15px;
}

#warehouseLogo {
  width: 60px;
}

#warehouseDelete {
  width: 20px;
  margin-left: auto;
  margin-right: 10px;
}

#userWarehouses p {
  margin: 0; 
}

#addAndRemove {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  transition: all 0.3s ease-in-out;
}

#addAndRemove:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transform: scale(1.1);
}

.col-md-5 {
  background-color: rgba(60, 60, 64, 0.5);
  border: 0.1px solid rgba(146, 146, 147, 0.5);
}


@media (max-width: 1000px) {
  .custom-warehouse-box {
    width: 100%;
    margin-bottom: 1rem; /* opcional, para separarlos */
  }
}


.custom-row {
  margin-left: 1px;
  margin-right: 1px;
}

.btn {
  margin: 10px;
}

.btn {
  margin: 10px;
}

.close {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.closeSoldProducts, .closeSoldProductsSold {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}

.closeSoldProductsSold {
  width:300px;
}

.close:hover {
  background-color: #343a40;
  color: wheat;
  border-radius: 5px;
}

.closeSoldProducts:hover {
  background-color: #343a40;
  color: wheat;
  border-radius: 5px;
}

.closeSoldProductsSold:hover {
  background-color: #343a40;
  color: wheat;
  border-radius: 5px;
  width: 300px;
}

form {
  background-color: rgba(38, 35, 35, 0.5);
  border: 3px solid rgba(69, 69, 70, 0.5);
  padding: 20px;
  margin-bottom: 20px;
}

form.soldProductsForm {
  width: 80%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
}

.soldProductsForm .form-group label {
  font-size: 1.2rem;  
  font-weight: bold; 
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  text-align: center;
}

.soldProductsForm .form-control {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 1rem;
}


.product-table {
  width: 100%;
  border-collapse: collapse; 
  margin: 20px 0;
}

.product-table th, .product-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #aeacac; 
}

.product-table tr:nth-child(even) {
  background-color: #5f5d5d; 
}

.product-table th {
  font-weight: bold; 
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 20px auto; 
  text-align: center;
}

.pagination-text {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.pagination-arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.withdrawProductsManually {
  background-color: rgba(60, 60, 64, 0.5);
  border: 0.1px solid rgba(146, 146, 147, 0.5);
}

#formForDeleteManually {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

#titlewithdrawProduct{
  margin-top: 30px;
}

#withdrawButton {
  margin-bottom: 30px;
}

#lefArrow, #rigArrow{
    transition: filter 0.5s ease;  
}

#lefArrow:hover {
    filter: grayscale(100%) brightness(200%);
}

#rigArrow:hover {
    filter: grayscale(100%) brightness(200%);
}

.inline-container {
    display: inline-flex;
    align-items: center; 
    gap: 8px; 
    vertical-align: middle; 
    color: rgb(182, 180, 180);
}

.lottie-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #4E2394, #DBC9F5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  transform: translate(-50%, -50%);
}


/* Pantalla de carga */
.spinner {
  width: 70px;
  height: 70px;
  position: relative;
}

.spinner-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.double-bounce1, 
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #4E2394, #DBC9F5);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0);
  } 50% { 
    transform: scale(1.0);
  }
}